@use '../abstracts/variables';
@use '../abstracts/mixins';

.item-detail-page {
    padding: variables.$spacing-large;
  
    &.category-1 {
      font-family: variables.$font-family-sans;
      color: variables.$primary-color;
    }
  
    &.category-2 {
      font-family: variables.$font-family-serif;
      color: variables.$secondary-color;
    }
  
    &.category-3 {
      font-family: 'Courier New', monospace;
      color: variables.$danger-color;
    }
  
    img {
      max-width: 100%;
      border-radius: 8px;
      margin-bottom: variables.$spacing-medium;
    }
  
    button {
      @include mixins.button-style(variables.$primary-color);
    }
}