@use 'variables';

@mixin button-style($color) {
    background-color: $color;
    color: white;
    padding: variables.$spacing-small variables.$spacing-medium; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: cornsilk;
    }
}
