@use 'variables';

.carousel {
    display: flex;
    overflow-x: auto;
    gap: variables.$spacing-medium;
    padding: variables.$spacing-large 0;
  
    h2 {
      font-size: 1.5rem;
      color: variables.$primary-color;
    }
}
