@use 'variables';

.item-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: variables.$spacing-medium;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    h3 {
      font-size: 1.2rem;
      color: variables.$text-color;
    }
}
