.wishlist-page {
  padding: 2rem;
  background-color: #f7f8fa;
  min-height: 100vh;
}

.wishlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.back-button {
  padding: 0.5rem 1rem;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e02a2a;
}

.wishlist-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1e3c72;
  text-align: center;
  margin-bottom: 2rem;
  flex-grow: 1; /* Esto asegura que el título ocupe el espacio restante y quede centrado */
  text-align: center;
}

.wishlist-empty {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.back-to-home {
  display: inline-block;
  text-align: center;
  padding: 0.8rem 1.5rem;
  background-color: #ff4d4d;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.back-to-home:hover {
  background-color: #e02a2a;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.item-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.item-card:hover {
  transform: translateY(-5px);
}

.item-card img {
  max-width: 100%;
  border-radius: 4px;
}

.item-card h3 {
  font-size: 0.9rem;
  color: #333;
  margin-top: 0.5rem;
}

.wishlist-card-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
}

.details-button,
.remove-button {
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-button {
  background-color: #1e90ff;
  color: #fff;
}

.details-button:hover {
  background-color: #1c7ed6;
}

.remove-button {
  background-color: #ff4d4d;
  color: #fff;
}

.remove-button:hover {
  background-color: #e02a2a;
}
